.indexpane {
border-right: 1px dotted #ccc; 
border-bottom: 1px dotted #ccc;
 text-align: justify;"
 
}

ul     	     {
         	list-style: none;
	     }

ul li:before {
		 content: "\00BB";
             }
ul li   {
         border-bottom: 1px dotted #ccc;
        }
         
         .contentcontent {
width: 300px;
margin: 0 auto;
padding-left: 20px;
padding-top: 0px;
padding-right: 20px;
text-align: justify;
}

.tabletab{
     width:1103px;
     height:30px;
	 padding: 7px 12px;
     background: url(../images/pattern_bg.png) 0 100% no-repeat;
     	 	}